@import "tailwindcss";

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  background: #f5f0f0;
  color: #000000 !important;
}

::-webkit-scrollbar{
  width: 10px !important;
  height: 10px !important;
}
::-webkit-scrollbar-thumb{
  background: #FF5252;
}
::-webkit-scrollbar-track{
  background: #fff;
}

.container{
  width: 90%;
  margin: auto;
}

.bg-theme{
  background-color: #FF5252;
}

.bg-theme:hover{
  background: #000000;
}

.link:hover{
  color: #FF5252;
}

.border-primary{
  border-color: #FF5252;
}

.text-theme{
  color: #FF5252;
}