.searchbox{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchbox input::placeholder{
    color: rgb(134, 133, 133);
}

.searchbtn{
    position: absolute!important;
    right: 0;
    top:5px
}